* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    background-color: #0e4c00;
}
#wrapper {
    max-width: 1300px;
    margin: auto;
    background-color: #0e4c00;
    text-align: center;
    font-family: Arial;
}	
h1 {
    color: #ffffff;
    background-color: #000000; 
    font-size: 60px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
}
h2 {
    font-size: 3em;
    font-weight: 900;
}
h3 {
    font-size: 2em;
}
a {
    color: #ffffff;
    margin-right: 0.6em;
}
.imgA {
    width: 100%;
    object-fit: cover;
    height: 36em;
}
.imgB {
    width: 40%;
    height: 14em;
    object-fit: cover;
    float: left;
    margin-left: 1%;
    object-position: 0 45%;
}
.output {
    margin-right: 3.2%;
}

input[type=number] {
    border: none;
    background-color: #d1d1d1;
    text-align: center;
    padding-left: 0.5em;
    height: 1.5em;
    width: 6.5em;
    margin-bottom: 1px;
}
label {
    margin-left: 18%;
    font-size: 1.6em;
    width: fit-content;
    float: left;
    text-align: left;
}
.admindiv {
    margin-left: 25%;
    width: 50%;
}
.nav {
    font-size: 1.7em;
    background-color: #0e4c00;
    padding-right: 20px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add {
    font-size: 50px;
    font-weight: 900;
    width: 15em;
    position: relative;
    padding: 0.6em;
    border: 5px solid #000000;
    background-color: #ffffff;
    margin: -3em 21%;
    
}
.bgColor {
    background-color: #d1d1d1;
}
.textfloat{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 8em;
    margin-bottom: 1.5em;
}
.alignleft {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 10%;
}
.aligncenter {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 10em;
}
.alignright {
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 12%;
}
.kalkhlava {
    width: 100%;
    margin-top: 1em;
    background-color: #ffffff;
}
.kalktelo {
    background-color: #ffffff;
    width: 100%;
    border-top: solid #000000;
    display: inline-block;
}
.slider {
    float: left;
    margin-left: 3em;
    width: 55%;
}
.inputS {
    float: left;
    width: 65%;
    border-right: 2px solid #000000;
    display:  grid;
}
.outputS {
    float: right;
    width: 35%;
    height: 100%;
}
.l1 {
    margin-left: 0;
}
.buttons {
    text-align: left;
    margin-right: 0;
}
.footer {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    width: fit-content;
}
.pujcka {
    display: block;
    width: 100%;
    padding: 0.5em 0;
}
.put {
    font-size: 1.2em;
}
.put2 {
    font-size: 1.6em;
}
.margintop {
    margin-top: 1em;
}
.margintop2 {
    margin-top: 3.5%;
}
.margintop3 {
    margin-top: 4.5%;
}
.marginbot {
    margin-bottom: 0.3em;
}
.marginright {
    margin-right: 5%;
}
.marginleft {
    margin-left: 6%;
}
.padding {
    padding: 0.5em 0;
}
.padding2 {
    font-size: 3em;
    font-weight: bold;
    padding: 1.5em 0;
}
.paddingbot {
    padding-bottom: 1em;
}
.putPos {
    text-align: right;
    margin-right: 15%;
}
.rodinka {
    background: #ffffff;
    margin-top: 2em;
}
.rodinkaText {
    font-size: 4.5em;
    padding: 1em 0;
}
.values {
    padding: 0;
}
.clear {
    float: none;
}
.admin {
    display: none;
    background: #ffffff;
    margin-top: 1em;
}
.tooltip {
    float: left;
    color: #000000;
    background-color: #d1d1d1;
    font-size: 0.7em;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #000000; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10%;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #000000;
    width: 30em; /* Could be more or less, depending on screen size */
}
button {
    background-color: #3abf11;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
}
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
#kalkulacka {
    font-size: 3em;
}
#orientacnisplatkaLabel {
    text-align: center;
    margin-left: 10%;
    font-weight: 900;
}
#orientacnisplatkaOutput {
    font-size: 1.4em;
    font-weight: 800;
}
#orientacnisplatkaSpan {
    font-size: 1.2em;
    font-weight: 800;
}
#orientacnisplatkaTT {
    margin-top: 3em;
}
#urokovasazbaLabel {
    font-size: 1.6em;
    font-weight: 900;
    margin-left: 20%;
}
#urokovasazbaOutput {
    font-size: 1.6em;
    font-weight: 800;
}
#urokovasazbaSpan {
    font-size: 1.6em;
    font-weight: 800;
}
#celkemzaplatitLabel {
    font-size: 1.6em;
    font-weight: 900;
    margin-left: 8%;
}
#celkemzaplatitOutput {
    font-size: 1.6em;
    font-weight: 800;
}
#celkemzaplatitSpan {
    font-size: 1.4em;
    font-weight: 800;
}
