<body>
<div id="wrapper">
    <div id="header">
        <p class="nav"><a id="kalkulackaNav" href="#kalkulacka">Hypoteční kalkulačka </a><a id="dotazyNav" href="#dotazy">Dotazy </a> <a id="adminNav" (click)="clickAction()">Administrátor</a></p>
    </div>

    <div id="login" class="modal">
        <form class="modal-content animate" (ngSubmit)="loginAction(username, psw)">
          <div class="padding">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="psw" required>
              
            <button id="loginBtn" type="submit">Login</button>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button id="cancelBtn" type="button" (click)="clickCancel()" class="cancelbtn">Cancel</button>
          </div>
        </form>
    </div>

    <div id="main">     
        <h1>KELIFA & NAVRÁTIL financial group</h1>
        <img class="imgA" src="assets/pictures/Perspektiva-1.jpg" alt="Domek v přírodě.">
        <h2 class="add">Splňte si sen o <br> vlastním bydlení s naší <br> HYPOTÉKOU</h2>
        <div class="bgColor">
            <p class="alignleft textfloat">Nízká úroková sazba</p>
            <p class="aligncenter textfloat">Zvýhodnění úrokové sazby díky pojištění</p>
            <p class="alignright textfloat">Fixace až na 7 let</p>
            <div style="clear: both;"></div>
        </div>
        <div id="admin" class="admin">
            <h2>ADMINISTRÁTOR</h2>
            <form class="margintop">
                <div>
                    <div class="admindiv">
                        <label for="uroksazba">Úroková sazba</label>
                        <a id="uroksazbaTT" class="tooltip" [title]="tooltips[10]">i</a>
                        <div class="putPos">
                            <input id="uroksazbaInput" class="put" type="number" digitOnly2 name="uroksazba" [(ngModel)]="uroksazba" (change)="uroksazbaValid(); changeLocalS('usazbaLS', uroksazba)" step="0.5">
                            <span class="put">%</span>
                        </div>
                    </div>
                    <div class="admindiv margintop">
                        <label for="zvyhpojist">Zvýhodnění pojištění</label>
                        <a id="zvyhpojistTT" class="tooltip" [title]="tooltips[11]">i</a>
                        <div class="putPos">
                            <input id="zvyhpojistInput" class="put" type="number" digitOnly2 name="zvyhpojist" [(ngModel)]="zvyhpojist" (change)="zvyhpojistValid(); changeLocalS('zvyhpojistLS', zvyhpojist)" step="0.5">
                            <span class="put">%</span>
                        </div>                        
                    </div>
                </div>
                <div class="margintop2">
                    <h3>Kolik si chcete půjčit?</h3>
                    <div class="admindiv margintop">
                        <label for="minpujcka">Min</label>
                        <a id="minpujckaTT" class="tooltip" [title]="tooltips[12]">i</a>
                        <div class="putPos">
                            <input id="minpujckaInput" class="put" type="number" digitOnly name="minpujcka" [(ngModel)]="minpujcka" (change)="minpujckaValid(); changeLocalS('minpujckaLS', minpujcka)" step="1000">
                            <span class="put">Kč</span>
                        </div>                        
                    </div>
                    <div class="admindiv margintop">
                        <label for="maxpujcka">Max</label>
                        <a id="maxpujckaTT" class="tooltip" [title]="tooltips[13]">i</a>
                        <div class="putPos">
                            <input id="maxpujckaInput" class="put" type="number" digitOnly name="maxpujcka" [(ngModel)]="maxpujcka" (change)="maxpujckaValid(); changeLocalS('maxpujckaLS', maxpujcka)" step="1000">
                            <span class="put">Kč</span>
                        </div>                        
                    </div>
                </div>
                <div class="margintop2 paddingbot">
                    <h3>Na kolik let si chcete půjčit?</h3>
                    <div class="admindiv margintop">
                        <label for="minlet">Min</label>
                        <a id="minletTT" class="tooltip" [title]="tooltips[14]">i</a>
                        <div class="putPos">
                            <input id="minletInput" class="put" type="number" digitOnly name="minlet" [(ngModel)]="minlet" (change)="minletValid(); changeLocalS('minletLS', minlet)">
                            <span class="put">let</span>
                        </div>                        
                    </div>
                    <div class="admindiv margintop">
                        <label for="maxlet">Max</label>
                        <a id="maxletTT" class="tooltip" [title]="tooltips[15]">i</a>
                        <div class="putPos">
                            <input id="maxletInput" class="put" type="number" digitOnly name="maxlet" [(ngModel)]="maxlet" (change)="maxletValid(); changeLocalS('maxletLS', maxlet)">
                            <span class="put">let</span>
                        </div>  
                    </div>
                </div>
            </form>
        </div>
        <div class="kalkulacka">
            <div class="kalkhlava padding">
                <h2 id="kalkulacka">Hypoteční kalkulačka</h2>
                <form class="padding">
                    <div class="pujcka">
                        <label for="vlastniZdroje">Vlastní zdroje na financování hypotečního úvěru</label>
                        <a id="vlastniZdrojeTT" class="tooltip" [title]="tooltips[7]">i</a>
                        <div class="putPos">
                            <input id="vlastniZdrojeInput" class="put" type="number" digitOnly name="vlastniZdroje" [(ngModel)]="vlastniZdroje" (change)="vlastniZdrojeValid()" step="1000" [min]="0">
                            <span class="put">Kč</span>
                        </div>                        
                    </div>                    
                    <div class="pujcka">
                        <label for="prijemNaDomacnost">Váš měsíční příjem na domácnost</label>
                        <a id="prijemNaDomacnostTT" class="tooltip" [title]="tooltips[8]">i</a>
                        <div class="putPos">
                            <input id="prijemNaDomacnostInput" class="put" digitOnly type="number" name="prijemNaDomacnost" [(ngModel)]="prijemNaDomacnost" (change)="prijemNaDomacnostValid()" step="100" [min]="0">
                            <span class="put">Kč</span> 
                        </div>                       
                    </div>                    
                    <div class="pujcka"> 
                        <label for="oripujcka">Kolik vám můžeme orientačně půjčit</label>
                        <a class="tooltip" [title]="tooltips[9]">i</a>
                        <div class="putPos">
                            <output id="oripujckaOutput" class="put output" name="oripujcka" [value]="pujcka(vlastniZdroje,prijemNaDomacnost)"></output>
                            <span class="put">Kč</span>
                        </div>                        
                    </div>
                    <div style="clear: both;"></div>                     
                </form>                
            </div>
            <div class="kalktelo padding">
                <form>
                    <div class=inputS>
                        <div class="margintop2">
                            <div class="slider put">
                                <label class="l1 marginbot" for="sliderPujcka">Kolik si chcete půjčit?</label>
                                <a id="pujckaTT" class="tooltip" [title]="tooltips[0]">i</a>
                                <div style="clear: both;"></div>
                                <app-slider name="sliderPujcka" (onChange)="change($event, 1)" [value]="values[1]" [min]="minpujcka" [max]="maxpujcka"></app-slider>
                                <span class="alignleft values">{{minpujcka}}</span>
                                <span class="alignright values">{{maxpujcka}}</span>
                            </div>                            
                            <input id="pujckaInput" class="put margintop" type="number" digitOnly (onChange)="change($event, 1)" (change)="pujckaValid()" [(ngModel)]="values[1]" [ngModelOptions]="{standalone: true}" [min]="minpujcka" [max]="maxpujcka" step="1000">
                            <span class="put">Kč</span>
                        </div>   
                        <div class="margintop2">
                            <div class="slider put">
                                <label class="l1 marginbot" for="sliderLet">Na kolik let si chcete půjčit?</label>
                                <a id="letTT" class="tooltip" [title]="tooltips[1]">i</a>
                                <div style="clear: both;"></div>
                                <app-slider name="sliderLet" (onChange)="change($event, 0)" [value]="values[0]" [min]="minlet" [max]="maxlet"></app-slider>
                                <span class="alignleft values">{{minlet}}</span>
                                <span class="alignright values">{{maxlet}}</span>
                            </div>                           
                            <input id="letInput" class="put margintop" type="number" digitOnly (onChange)="change($event, 0)" (change)="letValid()" [(ngModel)]="values[0]" [ngModelOptions]="{standalone: true}" [min]="minlet" [max]="maxlet" >
                            <span class="put">let</span>                            
                        </div>
                        <div class="buttons put margintop2 marginleft">
                            <label class="l1" for="buttonsFixace">Fixace hypotečního úvěru</label>
                            <a class="tooltip" [title]="tooltips[2]">i</a>
                            <div style="clear: both;"></div>
                            <br>
                            <app-buttons id="buttons" name="buttonsFixace" (onChange)="change($event, 2)"></app-buttons>
                        </div>
                        <div class="buttons put margintop2 marginleft">
                            <label class="l1" for="buttonsUver">Pojištění hypotečního úvěru</label>
                            <a class="tooltip" [title]="tooltips[3]">i</a>
                            <div style="clear: both;"></div>
                            <br>
                            <app-buttons1 class="marginleft" id="buttons1" name="buttonsUver" (onChange)="handleChange($event)"></app-buttons1>
                        </div>
                    </div>                  
                    <div class="outputS">
                         <div class="padding put2 margintop3">
                            <label id="orientacnisplatkaLabel" class="l1 marginbot" for="orientacnisplatka">Orientační <br> měsíční splátka</label>
                            <a id="orientacnisplatkaTT" class="tooltip" [title]="tooltips[4]">i</a>                            
                            <div style="clear: both;"></div>
                            <output id="orientacnisplatkaOutput" name="orientacnisplatka" [value]="splatka(values[0], values[1], usazba(values[2],checkeds))"></output>
                            <span id="orientacnisplatkaSpan">Kč</span>
                        </div>
                        <div class="padding put margintop3">                            
                            <label id="urokovasazbaLabel" class="l1" for="urokovasazba">Úroková sazba</label>
                            <a class="tooltip" [title]="tooltips[5]">i</a>                            
                            <div style="clear: both;"></div>
                            <output  id="urokovasazbaOutput" name="urokovasazba" [value]="usazba(values[2],checkeds)"></output>
                            <span id="urokovasazbaSpan">%</span>
                        </div>
                        <div class="padding put margintop3">
                            <label id="celkemzaplatitLabel" class="l1" for="celkemzaplatit">Kolik celkem zaplatíte</label>
                            <a class="tooltip" [title]="tooltips[6]">i</a>                            
                            <div style="clear: both;"></div>
                            <output  id="celkemzaplatitOutput" name="celkemzaplatit" [value]="celkem(values[0], values[1], usazba(values[2],checkeds))"></output>
                            <span id="celkemzaplatitSpan">Kč</span>
                        </div>                    
                    </div>                                       
                </form>                
            </div>
        </div>
        <div class="rodinka">            
            <img class="imgB" src="assets/pictures/rodinka.jpg" alt="Šťastná rodinka.">
            <p class="rodinkaText">Budujeme lepší zítřky</p>
        </div>
        <div class=dotazy>
            <app-accordion id="dotazy"></app-accordion>
        </div>
    </div>
    <div>
        <p class="alignleft footer">Milevská 2095/5, 140 00 Praha 4-Krč</p>
        <p class="alignright footer">+420 606 666 666    info@fingroup.hu</p>
    </div>
    <div style="clear: both;"></div>
</div>
</body>