*{
    text-align: left;
}
p-accordionTab {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
}
img {
    width: 65%;
}
label {
    margin-top: 6em;
    margin-right: 5%;
    width: 30%;
    float: right;
}
li {
    margin-left: 2em;
}
ul {
    padding: 0;
}
.faq {
    color:#ffff;
    margin-left: 1em;
}