<p-accordion [multiple]="true">
    <p-header>
        <h2 class="faq">Vše co potřebujete o hypotečním úvěru vědět</h2>
    </p-header>
    <p-accordionTab header="Jaké druhy hypotečního úvěru nabízíme?">
        <h3>KLASICKÝ HYPOTEČNÍ ÚVĚR</h3>
        <p>Úvěr, jehož splácení je zajištěno zástavním právem k nemovitosti a splátky jsou rozloženy podle délky, na kterou se úvěr uzavírá.
            Jako zástava slouží financovaná nemovitost</p>
        <ul>
        <p>Hypoteční úvěr můžete použít na:</p>
            <li>nákup nemovitosti,</li>
            <li>rekonstrukci,</li>
            <li>stavbu domu,</li>
            <li>refinancování jiného účelového úvěru,</li>
            <li>vypořádání majetkových poměrů v rodině,</li>
            <li>vypořádání společného jmění manželů,</li>
            <li>k proplacení peněz, které jste investovali do rekonstrukce nemovitosti.</li>
        </ul>
        <h3>AMERICKÝ HYPOTEČNÍ ÚVĚR</h3>
        <p>Úvěr, jenž slouží k financování klienta podle jeho uvážení. Splátky jsou rozloženy podle délky, na kterou se úvěr uzavírá. 
            Jako zástava slouží nemovitost. Neptáme se na co potřebujete půjčit.</p>
    </p-accordionTab>
    <p-accordionTab header="Slovníček pojmů">
        <h3>CO JE TO HYPOTÉKA</h3>
        <p>Hypoteční úvěr je dlouhodobý úvěr zajištěný zástavním právem k nemovitosti. 
           O hypoteční úvěr může žádat fyzická osoba jako občan i podnikatel, právnická osoba, obce a města.</p>
        <h3>ÚROKOVÁ SAZBA A JEJÍ FIXACE</h3>
        <p>Úroková sazba představuje částku, kterou je dlužník povinen platit věřiteli z jeho pohledávky. 
            Je vyjádřena v procentech z dlužné částky. </p>
        <p>Fixací úrokové sazby je myšleno období, pro které platí úroková sazba sjednaná ve smlouvě mezi bankou a klientem. 
            Doba fixace ovlivňuje výšku úrokové sazby hypotéky.</p>
        <h3>DOBA SPLATNOSTI HYPOTEČNÍHO ÚVĚRU</h3>
        <p>Dobou splatnosti je myšleno čerpání hypotečního úvěru v souladu s podmínkami. Úvěr lze čerpat jednorázově, 
            například při koupě nemovitosti nebo postupně, například při výstavbě, rekonstrukci, čerpání probíhá 
            průběžně při proplácení faktur.</p>
        <h3>ANUITNÍ SPLÁCENÍ</h3>
        <p>Je nejčastějším způsobem splácení úvěrů, zejména hypotéčních. Při sjednání hypotéky se vypočte měsíční 
            anuitní splátka, která je během celé doby fixace úrokové sazby neměnná. Ale poměr splátek jistiny a úroku se v 
            průběhu splácení mění - z počátku je více splácen úrok oproti jistině a postupem času se úrok snižuje a jistina tedy 
            tvoří vyšší část splátky.</p>
            <p>Anuitní splátka se stejně jako jiné způsoby splácení úvěru (progresivní, degresivní a hypotéka s odloženou splátkou) 
                skládá ze dvou složek, a to jistiny a úroku.Po dobu fixace úrokové sazby nelze úrokovou sazbu, tedy ani výši splátky, 
                měnit. Obvyklé období fixace hypotéky nepřesahuje 5 let, výjimečně je možno dosáhnout deseti let, ale pro delší období 
                je fixovaná sazba vyšší.</p>
                
        <label>Graf prezentuje anuitní splácení s hypotékou ve výši 73 000Kč a dobou splácení 20 let.</label>
        <img src="assets/pictures/graf.pn" alt="Graf anuitního splácení." onerror="this.onerror=null;this.src='assets/pictures/error.png'">
    </p-accordionTab>
    <p-accordionTab header="Kolik si mohu půjčit">
        <h3>KLASICKÝ HYPOTEČNÍ ÚVĚR MUSÍ SPLŇOVAT TYTO NÁLEŽITOSTI:</h3>
        <h3>VĚK ŽADATELE</h3>
        <p>Pro to, abychom mohli vyhovět Vašim požadavkům se nesmí prolínat délka úvěru s Vaším odchodem do důchodu.</p>
        <h3>VÝŠE SPLÁTKY</h3>
        <p>Měsíční splátka hypotečního úvěru nesmí být vyšší než 50% Vašich příjmů v domácnosti.</p>
        <h3>VLASTNÍ ZDROJE</h3>
        <p>Abychom byli úspěšní při sjednávání úvěru, musíte nemovitost financovat alespoň 20% z vlastních prostředků.</p>
        <h3>BONITA KLIENTA</h3>
        <p>Bonita klienta je ohodnocení klienta, jak dobře je schopný splácet svůj dluh vůči bance. Z výše zmíněných bodů bonitu vypočítá.</p>   
    </p-accordionTab>
    <p-accordionTab header="Pojištění hypotečního úvěru" [disabled]=true>
        <h3>SNÍŽENÍ ÚROKOVÉ SAZBY</h3>
        <p>Pojištěním hypotéky bývá často zvýhodněna úroková sazba.</p>
        <h3>ZTRÁTA ZAMĚSTNÁNÍ</h3>
        <p>V případě ztráty zaměstnání, díky pojistce, budete moci odložit své splátky, a to na dobu 60ti dnů maximálně.</p>
        <h3>PRACOVNÍ NESCHOPNOST</h3>
        <p>V případě pracovní neschopnosti, díky pojistce, budete moci odložit své splátky stejně jako v případě 
            ztráty zaměstnání, a to na dobu 60ti dnů maximálně.</p>
        <h3>INVALIDITA</h3>
        <p>Pokud dojde k úrazu a pojištěnému je přidělen status invalidity třetího stupně, zaniká tak povinnost dále platit pojistné.</p>
        <h3>SMRT</h3>
        <p>V případě úmrtí bude vyplacena pojistka svázaná s hypotékou bance.</p>
        <h3>CENA</h3>
        <p>Cena pojištění je obvykle 3 - 8% měsíční splátky, je potřeba zvážit její efektivitu.</p> 
    </p-accordionTab>
    <p-accordionTab header="Jak probíhá žádost o schválení hypotečního úvěru?">
        <h3>CO SI MÁM PŘIPRAVIT?</h3>
        <p>Určitě byste měli mít průkaz totožnosti a alespoň základní údaje o nemovitosti, kterou si chcete splnit sen. 
            Vezměte s sebou potvrzení o příjmech od Vašeho zaměstnavatele a pokud jste OSVČ, tak vezměte daňové přiznání 
            za poslední kalendářní rok. Můžete si udělat malou rozvahu odečtem výdajů od příjmů, ať máte představu o splátkách. 
            Na základě všech podkladů banka zjistí Vaši bonitu.</p>
        <h3>JAK DLOUHO TRVÁ VYŘÍZENÍ?</h3>
        <p>Rozhodně nebudete čekat déle než měsíc. Je to složitější proces, po odhadu nemovitosti musíte zapsat do katastru 
            zástavní právo na nemovitost a nakonec, až bude vše vyřízeno, můžete čerpat Váš hypoteční úvěr a nastěhovat 
            se do svého nového domova.</p>
        <h3>KDO PLATÍ ODHAD NEMOVITOSTI A POPLATKY NA ÚŘADĚ?</h3>
        <p>Veškeré poplatky jsou v ceně úroků a nebo je žadatel platí sám.</p>
    </p-accordionTab>
</p-accordion>